$direcoes: top, right, bottom, left;

@each $direcao in $direcoes {
    %margem-padrao-#{$direcao} {margin-#{$direcao}: 10px;}
    %sem-margem-#{$direcao} {margin-#{$direcao}: 0;}
}

.about {
    width: 80%;
    margin: 0 auto 40px;
    font-family: Arial, Helvetica, sans-serif;
    
    &__title {
        background-color: $light-gray;
        text-align: center;
        padding: 20px;
    }
    
    &__h1 {
        font-size: 22px;
        color: $dark-gray;
        letter-spacing: 1px;
        @extend %margem-padrao-top, %margem-padrao-bottom, %sem-margem-left, %sem-margem-right;
    }
    
    .breadcrumb {
        @include flx(justify-content, center);
        align-items: center;
        
        &__link {
            font-size: 12px;
            text-decoration: none;
            color: $dark-gray;
            
            &:hover {
                text-decoration: underline;
                color: $purple;
            }
        }
        
        &__img {
            width: 11px;
            margin: 8px;
        }
    }
    
    &__img {
        width: 100%;
        @extend %margem-padrao-bottom;
    }

    &__intro {
        font-weight: 100;
        color: $dark-gray;
        width: 70%;
        margin: 30px auto;
        text-align: center;
        font-size: 16px;
    }

    &__split {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
    }

    &__img-description {
        width: $img-width;

        @include for-phone-only {
            width: 90%;
        }
    }

    &__txt {
        width: calc(100% - #{$img-width});

        @include for-phone-only {
            width: 90%;
        }
    }

    &__p {
        font-size: 14px;
        padding: 10px 20px;
        color: $dark-gray;
    }
}